.body-container-main {
    max-width: 1180px;
    margin: 0 auto;
}

.main {
    width: 100%;
}

.main-title-container {
    width: 100%;
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.main-title-text {
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 130%;
    color: #1B1D1F;
}

.main-title-text-span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 130%;
    color: $mainColor;
}

.main-title-desc-text {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    margin: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: #000000;
}

.main-cards-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.main-cards-box {
    margin: 5px;
    width: 1020px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: #A1C7D4;
    border-radius: 12px;
}

.main-cards {
    display: flex;
    flex-direction: column;
}

.main-card {
    width: 300px;
    height: 176px;
    background: #FFFFFF;
    border-radius: 8px;
    margin: 10px 20px;
}

.main-card-title-container {
    display: flex;
}

.main-card-number-h2 {
    padding: 8px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 47px;
    display: flex;
    align-items: center;
    text-align: center;
    color: $mainColor;
}

.main-card-title {
    width: 212px;
    display: flex;
    align-items: center;
}

.main-card-title-h2 {
    
    padding: 8px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: $mainColor;  
}

.main-card-desc-span {
    display: flex;
    align-self: flex-start;
    padding: 12px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #1B1D1F;
}

.main-services-container {
    margin-top: 90px;
    margin-bottom: 98px;
    position: relative;
}

.main-services-title {
    width: 100%;
    position: relative;
    text-align: center;
}

.main-services-title-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 40px;
    color: #1B1D1F;
}

.main-services-title-text {
    span {
        color: $mainColor;
    }
    
}

.main-services-tooth-container {
    position: relative;
    top: 10%;
    width: 100%;
    height: 600px;
}

.main-services-tooth-img-box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.main-services-tooth-img-radius {
    position: absolute;
    width: 350px;
    height: 350px;
    border: 1px solid black;
    border-radius: 50%;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.main-services-tooth-img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.main-services-buttons-container {
    width: 350px;
    height: 350px;
    position: relative;
}

.main-services-little-circle-1 {
    position: absolute;
    top: 8%;
    left: 15%;
}

.main-services-little-circle-2 {
    position: absolute;
    top: 8%;
    left: 78%;
}
.main-services-little-circle-3 {
    position: absolute;
    top: 45%;
    left: -2.5%;
}
.main-services-little-circle-4 {
    position: absolute;
    top: 45%;
    left: 95%;
}
.main-services-little-circle-5 {
    position: absolute;
    top: 85%;
    left: 15%;
}

.main-services-little-circle-6 {
    position: absolute;
    top: 85%;
    left: 78%;
}

.main-services-little-circles {
    width: 24px;
    height: 24px;
    background-color: $mainColor;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-service-buttons-text-container {
    width: 100%;
    height: 600px;
    position: absolute;
}

.main-service-buttons-text-box-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 135%;
    color: $mainColor;
    padding: 2px;
}

.main-service-buttons-text-box-para {
    padding: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: right;
    color: #1B1D1F;
    height: 80px;

}

.main-service-buttons-text-container1 {
    position: absolute;
    top: 10%;
    left: 2%;
}

.main-service-buttons-text-box1 {
    text-align: right;
    width: 350px;
    margin-left: 80px;
    padding: 10px;
}

.main-service-buttons-text-box-para-right {
    padding: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: right;
    color: #1B1D1F;
    height: 80px;
    text-align: left;
}

.main-service-buttons-text-box2 {
    text-align: left;
    width: 350px;
    margin-right: 80px;
    padding: 10px;
}

.main-service-buttons-text-container2 {
    position: absolute;
    top: 10%;
    left: 62%;
}

.main-service-buttons-text-box3 {
    text-align: right;
    width: 350px;
    margin-top: 50px;
    margin-left: 40px;
    padding: 10px;
}

.main-service-buttons-text-container3 {
    position: absolute;
    top: 33%;
    left: 0%;
}

.main-service-buttons-text-box4 {
    text-align: left;
    width: 350px;
    margin-top: 50px;
    margin-right: 40px;
    padding: 10px;
}

.main-service-buttons-text-container4 {
    position: absolute;
    top: 33%;
    left: 67%;
}

.main-service-buttons-text-box5 {
    text-align: right;
    width: 350px;
    margin-top: 50px;
    margin-left: 100px;
    padding: 10px;
}

.main-service-buttons-text-container5 {
    position: absolute;
    top: 65%;
    left: 2%;
}

.main-service-buttons-text-box6 {
    text-align: left;
    width: 350px;
    margin-top: 50px;
    margin-right: 100px;
    padding: 10px;
}

.main-service-buttons-text-container6 {
    position: absolute;
    top: 65%;
    left: 62%;
}

.main-services-attention-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-services-attention-text {
    padding: 0px 16px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    color: $mainColor;
}

.main-make_an_appointment-container {
    padding-top: 87px;
    width: 100%;
    display: flex;
}

.main-make_an_appointment-box-one {
    width: 71.61%;
    margin: 0 auto;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-make_an_appointment-box-two {
    width: 97.16%;
    margin: 5px 0px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    backdrop-filter: blur(2px);
    border-radius: 10px;
    
}

.main-make_an_appointment-title-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.main-make_an_appointment-title-text {
    padding-top: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 130%;
    text-align: center;
    text-transform: uppercase;
    color: #1B1D1F;

}

.main-make_an_appointment-title-desc-text {
    padding: 7px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: #1B1D1F;
}

.main-make_an_appointment-form-container {
    padding: 30px 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.main-make_an_appointment-form-name-box {
    max-width: 233px;
    margin: 5px;
    padding: 10px;
    background: #dcdcdc;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}



.main-make_an_appointment-form-line {
    margin: 0px 10px;
    width: 2px;
    height: 30px;
    background-color: #000000;
}

.input-box {
    max-width: 168px;
    padding-right: 30px;
    border: none;
    background: #dcdcdc;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 140%;
    text-align: center;
    color: rgba(27, 29, 31, 0.51);
}

.main-make_an_appointment-form-container  {
    &*:focus {
        outline: 2px solid $mainColor;
        border-radius: 8px;
    }
}

.main-make_an_appointment-form-phone-box {
    max-width: 233px;
    margin: 5px;
    padding: 10px;
    background: #dcdcdc;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.main-make_an_appointment-form-button {
    margin: 5px;
    width: 180px;
    height: 57px;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: $mainColor;
    border-radius: 8px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
}

.main-pictures-container {
    padding-top: 103px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.main-picture-box {
    margin: 5px;
}